* {
    margin: 0;
    padding: 0;
    font-family: Mulish;
}

#root {
    width: 1100px;
    height: 800px;
    margin: 0 auto;
    border: 1px solid #CCC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
   
}
#header {
    margin: 7px;
    display: flex;
    justify-content: space-between;
}
#header i{
    margin: 0 5px
}
#header>div:nth-of-type(2){
    display: flex;
    padding: 5px;
    gap: 25px;
}
#header>div:nth-of-type(2)>div:nth-of-type(2){
    border: 3px solid #CCC ;
    border-radius: 7px;
}
#header>div:nth-of-type(2)>*:hover{
    cursor: pointer;
}
#header>div:nth-of-type(2)>*{
    padding: 5px 10px;
}
#header span{
    font-weight: 800;
    margin: 0 7px;
    font-size: 20px;
}

#container {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    gap: 30px;
    
}
.user{
    border: 2px solid #BBB;
    border-radius: 10px;
    width: 130px;
    height: 85px;
    text-align: center;
    position: relative;
    background-color: #ddd;
}

.user:hover{
    cursor: pointer;
}

.user:hover>.overlay2{
    display: inline;
}


.user i:first-of-type {
    height: 20px;
    width: 25px;
    /* border: 2px solid red; */
    margin-top: 30px;
}

.user i:nth-of-type(2){
    position: absolute;
    right: 7px;
    top: 7px;
    z-index: 12;
}

.footer{
    padding: 7px;
}

.btnNewProfile{
    padding: 0px 20px 09px 10px;
    border: 2px solid #DDD;
    width: max-content;
    border-radius: 13px;
    font-weight: 600;
    background-color: #EEE;
}

.btnNewProfile:hover {
    cursor: pointer;
}

.btnNewProfile span{
    margin: 0 5px;
    font-weight: 500;
    font-size: 25px;
}

.addWindow{
    border: 2px solid black;
    width: max-content;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: 70px;
    background-color: rgba(255, 255, 255, 1);
    left: 430px;
    display: none;
    z-index: 20;
}
.addWindow input{
    height: 28px;
    margin: 15px 0;
    font-size: 17px;
    font-weight: 600;
}
#main{
    position: relative;
}

.addButton{
border: 2px solid #CCC;
width: max-content;
padding: 4px 8px;
}

.addButton:hover{
    cursor: pointer;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10; 
    display: none; 
}
.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10; 
    border-radius: 10px;
    display: none;
}

#container span{
    color: #CCC;
    font-size: 45px;
    font-weight: 700;
}

#dayP{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 12px;
}

#dateP{
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

#BtnContainer{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 10px 0;
}

#BtnContainer>* {
    border: 3px solid #BBB;
    border-radius: 12px;
    padding: 5px 10px;
    font-weight: 600;
    width: 110px;
    position: relative;
    z-index: 12;
}
#BtnContainer>*:hover{
    cursor: pointer;
}
#BtnContainer>*:hover .overlay2{
    display: inline;
}
#BtnContainer i{
    margin-right: 8px;
    margin-left: 3px;
}

